.color1{
    background-color: #015A2C; 
    color:white;
}

.color2{
    background-color: #B79043;
    color: white;
}

.color3{
    background-color: #008080;
    color: white;
}


.home .logoStuff {
    text-align: center;
    color: white;
}

.btn-primary{
    background-color:#015A2C;
}

.logo{
    width:100px;
}

.login,.register{
    text-align: center;

}


.navbar-default{
    background-color:#B79043;
  
}
.navbar-brand, .navbar-default li a{
      color: white !important;
}

body{
    background-color:#800000;
}